:root {
  --primary-color: #fff;
  --secondary-color: #060606;
  --accent: #E25F00;  
}

/* @media (prefers-color-scheme: dark) {
  body {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
} */
